<div class="credits-container">
  <div class="credits-card">
    <div class="image-placeholder">
      <!-- Aquí usamos la etiqueta <img> para mostrar la imagen -->
      <img 
        src="https://static-00.iconduck.com/assets.00/user-icon-2046x2048-9pwm22pp.png" 
        alt="Developer Icon" 
        class="placeholder-icon">
    </div>
    <div class="credits-content">
      <h1>Diseño y desarrollo por</h1>
      <h2>{{ developer.name }}</h2>
      <h3>{{ developer.group }}</h3>
    </div>
  </div>
</div>
